<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cmmn/layout/layout}" lang="ko">
<body layout:fragment="content">
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="/main/img/sr/elephant.jpg" width="1900" height="300" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>MY PAGE</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">EDIT</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row-middle">
                        <div class="col-md-6">
                            <div class="aa-myaccount-register">
                                <h4>회원정보</h4>
                                <div class="aa-center">
                                    <form th:action="@{/member/update}" class="aa-login-form" method="post">
                                        <label for="id">아이디<span>*</span></label>
                                        <input type="text" th:value="${#authentication.getName()}" name="email" id="id">
                                        <label for="password">비밀번호<span>*</span></label>
                                        <input type="password" required id="password" name="pwd">

<!--                                        <button type="button" class="aa-browse-btn" onclick="checkMember()">확인</button>-->
                                        <button type="submit" class="aa-browse-btn">확인</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>