<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cmmn/layout/layout}" lang="ko">
<body layout:fragment="content">
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="/main/img/sr/elephant.jpg" width="1900" height="300" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>MY PAGE</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">EDIT</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row-middle">
                        <div class="col-md-6">
                            <div class="aa-myaccount-register">
                                <h4>비밀번호 변경</h4>
                                <!-- TAB -->
                                <ul class="nav nav-tabs aa-products-tab">
                                    <li><a href="/member/update">회원정보수정</a></li>
                                    <li><a href="/member/pwdUpdate">비밀번호변경</a></li>
                                    <li><a href="/member/delete">회원탈퇴</a></li>
                                </ul><!-- TAB 영역 끝 -->
                                <div class="aa-center">
                                    <form th:action="@{/member/pwdUpdate}" class="aa-login-form" onreset="reset()" onsubmit="return false;">
                                        <label for="">아이디</label><input type="email" name="email"
                                                                        th:value="${member.email}" readonly>
                                        <label for="">변경 할 비밀번호</label><input type="password" id="pwd1" name="pwd"
                                                                              required>
                                        <label for="">비밀번호 확인</label><input type="password" id="pwd2" required>
                                        <label><input hidden id="memberNo" th:value="${member.id}"></label>
                                        <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
                                        <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>


                                        <div style="text-alian: center;">
                                            <button type="submit" class="aa-browse-btn" onclick="pwdUpdate()">수정</button>
                                            <button type="reset" class="aa-browse-btn">홈으로</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>