<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cmmn/layout/layout}" lang="ko">
<body layout:fragment="content">
<!-- Start slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="/main/img/sr/temple_in_bankok_thailand-wallpaper.jpg" alt="Male Female slide img" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>우리가요 오픈 기념</span>
                            <h2 data-seq style="padding-top: 10px;">태국 여행 오픈</h2>
                            <p data-seq>저렴한 가격, 믿을 수 있는 가이드! 우리가요만이 보여주는 최저가 가이드 매칭 </p>
                            <a data-seq href="" class="aa-shop-now-btn aa-secondary-btn">예약하러 가기</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- slider navigation btn -->

        </div>
    </div>
</section>
<!-- / slider -->

<!-- Start Promo section -->
<section id="aa-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-area">
                    <div class="row">
                        <!-- promo left -->
                        <div class="col-md-5 no-padding">
                            <div class="aa-promo-left">
                                <div class="aa-promo-banner">
                                    <img src="/main/img/bancok1.jpg" alt="img">
                                    <div class="aa-prom-content">
                                        <span>[특가] 75,000원</span>
                                        <h4><a href="#">[방콕출발]암파와 수상시장 반딧불 투어</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- promo right -->
                        <div class="col-md-7 no-padding">
                            <div class="aa-promo-right">
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="/main/img/bancok6.png" alt="img">
                                        <div class="aa-prom-content">
                                            <span>최대 75% 할인</span>
                                            <h4><a href="#">투어 티켓</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="/main/img/bancok3.jpg" alt="img">
                                        <div class="aa-prom-content">
                                            <span>최대 35,000원</span>
                                            <h4><a href="#">코끼리 투어</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="/main/img/bancok4.jpg" alt="img">
                                        <div class="aa-prom-content">
                                            <span>[최대]15,000원</span>
                                            <h4><a href="#">시가지 투어</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="/main/img/bancok5.jpg" alt="img">
                                        <div class="aa-prom-content">
                                            <span>[최대 할인 75%] </span>
                                            <h4><a href="#">짝뚜짝 시장 투어</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo section -->
<!-- Products section -->
<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start prduct navigation -->
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start men product category -->
                                <div class="tab-pane fade in active" id="men">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img src="/main/img/maintravel/1.jpg" alt="polo shirt img"></a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">칸차나부리 & 에라완 국립공원 단독투어</a></h4>
                                                    <span class="aa-product-price">800,000원</span><span class="aa-product-price"><del>999,000원</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sale" href="#">SALE!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img src="/main/img/maintravel/113694_large_1525772275.jpg" alt="polo shirt img"></a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#"> 방콕/파타야 5일!<br>가볍게떠나는여행</a></h4>
                                                    <span class="aa-product-price">700,000원</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img src="/main/img/maintravel/113700_large_1525772271.jpg" alt="polo shirt img"></a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">방콕/파타야 5일 #노쇼핑</a></h4>
                                                    <span class="aa-product-price">777,000원</span><span class="aa-product-price"><del>899,000원</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                            </div>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img src="/main/img/maintravel/292887_large_1543429163.jpg" alt="polo shirt img"></a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">방콕/파타야 3일#스페셜특전</a></h4>
                                                    <span class="aa-product-price">690,000원</span><span class="aa-product-price"><del>799,000원</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-hot" href="#">HOT!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img src="/main/img/maintravel/2.jpg" alt="polo shirt img"></a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">방콕 파타야 #준특급호텔#발마사지#코끼리트래킹</a></h4>
                                                    <span class="aa-product-price">899,900원</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                            </div>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img src="/main/img/maintravel/74769_large_1525778493.jpg" alt="polo shirt img"></a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">방콕 3박 4일 속성 코스</a></h4>
                                                    <span class="aa-product-price">699,000원</span><span class="aa-product-price"><del>799,000원</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                            </div>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img src="/main/img/maintravel/74775_large_1478239767.jpg" alt="polo shirt img"></a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">방콕 1주일 제대로 즐기기</a></h4>
                                                    <span class="aa-product-price">1,113,000원</span><span class="aa-product-price"><del>1,120,000원</del></span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sale" href="#">SALE!</span>
                                        </li>
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img src="/main/img/maintravel/74777_large_1478239767.jpg" alt="polo shirt img"></a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">방콕 야경 즐겨보자</a></h4>
                                                    <span class="aa-product-price">599,000원</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                        </li>
                                    </ul>
                                    <a class="aa-browse-btn" href=""> 더 많은 상품 보러가기 <span class="fa fa-long-arrow-right"></span></a>
                                </div>
                                <!-- / men product category -->
                            </div>
                            <!-- quick view modal -->
                            <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <div class="row">
                                                <!-- Modal view slider -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-slider">
                                                        <div class="simpleLens-gallery-container" id="demo-1">
                                                            <div class="simpleLens-container">
                                                                <div class="simpleLens-big-image-container">
                                                                    <a class="simpleLens-lens-image" data-lens-image="img/main/view-slider/large/polo-shirt-1.png">
                                                                        <img src="/main/img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="simpleLens-thumbnails-container">
                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                   data-lens-image="img/main/view-slider/large/polo-shirt-1.png"
                                                                   data-big-image="img/main/view-slider/medium/polo-shirt-1.png">
                                                                    <img src="/main/img/view-slider/thumbnail/polo-shirt-1.png">
                                                                </a>
                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                   data-lens-image="img/main/view-slider/large/polo-shirt-3.png"
                                                                   data-big-image="img/main/view-slider/medium/polo-shirt-3.png">
                                                                    <img src="/main/img/view-slider/thumbnail/polo-shirt-3.png">
                                                                </a>

                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                   data-lens-image="img/main/view-slider/large/polo-shirt-4.png"
                                                                   data-big-image="img/main/view-slider/medium/polo-shirt-4.png">
                                                                    <img src="/main/img/view-slider/thumbnail/polo-shirt-4.png">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- / quick view modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Products section -->

<!-- popular section -->

<!-- / popular section -->
<!-- Support section -->
<section id="aa-support">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-support-area">
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-truck"></span>
                            <h4> 가이드와 현지에서! </h4>
                            <P> 여행사를 거치지 않고 가이드와 바로 현지에서 만나 안내를 받을 수 있으니까!</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-clock-o"></span>
                            <h4>내가 원하는 시간, 장소에서!</h4>
                            <P> 패키지 여행에 나의 시간을 맞추지마세요! 내가 원하는 시간,장소에서 내게 딱 알맞는 상품을 찾아보세요! </P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-phone"></span>
                            <h4> 가이드등록을 통한 신원조회!</h4>
                            <P>우리가요는 꼼꼼한 가이드 심사를 통해 안전한 여행이 되도록 노력합니다.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>