<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cmmn/layout/layout}" lang="ko">
<body layout:fragment="content">
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="/main/img/sr/elephant.jpg" width="1900" height="300" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>TRAVEL TIP</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">TIP</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- 메인메뉴 -->
<section id="aa-product">
    <div class="container a">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- 마이페이지메인 영역 -->
                    <div class="a">
                        <h1 style="font-weight: bold; text-align: center; font-family: Helvetica, Arial, Verdana, sans-serif;">태국 여행 초보자라면 필독!!</h1>
                    </div>
                    <!-- 메인 영역 끝 -->
                    <br>
                    <!-- 이미지(부트스트랩.css)6771에 id로 저장됨 -->
                    <!-- 첫번째 영역 -->
                    <div class="col-md-4 col-sm-4 a">
                        <article class="aa-blog-content-single">
                            <img src="/main/img/sr/1흡연.PNG" alt="img">
                        </article>
                    </div>
                    <!-- 두번째 영역 -->
                    <div class="col-md-4 col-sm-4 a">
                        <article class="aa-blog-content-single">
                            <img src="/main/img/sr/2차선.PNG" alt="img">
                        </article>
                    </div>
                    <!-- 셋째 영역 -->
                    <div class="col-md-4 col-sm-4 a">
                        <article class="aa-blog-content-single">
                            <img src="/main/img/sr/3.물.PNG" alt="img">
                        </article>
                    </div>
                    <!-- 넷째 영역 -->
                        <div class="col-md-4 col-sm-4 a">
                            <article class="aa-blog-content-single">
                                <img src="/main/img/sr/4물건.PNG" alt="img">
                            </article>
                        </div>
                    <!-- 다섯째 영역 -->
                    <div class="col-md-4 col-sm-4 a">
                        <article class="aa-blog-content-single">
                            <img src="/main/img/sr/5손.PNG" alt="img">
                        </article>
                    </div>
                    <!-- 여섯째 영역 -->
                    <div class="col-md-4 col-sm-4 a">
                        <article class="aa-blog-content-single">
                            <img src="/main/img/sr/6.불교.PNG" alt="img">
                        </article>
                    </div>
                    <!-- 일곱째 영역 -->
                    <div class="col-md-4 col-sm-4 a">
                        <article class="aa-blog-content-single">
                            <img src="/main/img/sr/7.태국 왕실.PNG" alt="img">
                        </article>
                    </div>
                    <!-- 일곱째 영역 끝 -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog Archive -->
</body>
</html>